<header class="container-primary">
    <nav class="container-secondary flex flex-wrap justify-between items-center">
        <h1 class="text-2xl text-cyan-500 font-bold">Employee</h1>
        <ul class="flex flex-wrap justify-center items-center">
            <li class="mr-2"><a class="link-active" href="">Home</a></li>
            <li class="mr-2"><a class="link-desactive" href="">List</a></li>
            <li class="mr-2"><a class="link-desactive" href="">Deparments</a></li>
            <li class=""><a class="transition duration-200 ease-linear ml-2 block bg-cyan-500 hover:bg-cyan-700 text-white font-bold py-1 px-2 rounded" href="">New employe</a></li>
        </ul>
    </nav>
</header>